@import "tailwindcss";


@font-face {
  font-family: "Bueno";
  src: url("/fonts/bueno-regular.woff") format("woff"),
       url("/fonts/bueno-regular.ttf") format("truetype"),
       url("/fonts/bueno-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Bueno",Arial, Helvetica, sans-serif;
}


.text-shadow-ele {
  text-shadow: 2px 2px 20px rgba(170, 28, 163, 0.767);
}
